@model NewsItemModel
@{
}
<div class="row justify-content-center mb-4 mt-4">
    <div class="card bg-light w-75">
        <div class="card-body">
            <div class="card-text">
                @Html.Raw(Model.ToHTML())
            </div>
        </div>
        <div class="card-footer">
            Posted @Model.Date.ToShortDateString() by @Model.Author
        </div>
    </div>
</div>